version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: iavia-front:latest
    container_name: iavia-front
    restart: always
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
